h2{
    color:green;
}

button{
    color:crimson;
    background-color:bisque;
}


body{
    /* RGB */
    /* background-color:rgb(200,255,0); */
    background-color: #ffff00;
}
/*Universal selector */
/* 
   *{ 
      color:red;
    }

*/

/* Id selector */

#headingOne{
    text-align: center;
    color:rgb(154, 100, 34);
    text-decoration: black dotted underline;

}
#headingTwo{
    color:rgb(151, 134, 226);
    text-align: center;
    text-decoration:red wavy underline;
}

/* Class selector */
.myClass{
    color:rgb(36, 100, 132);
    text-align: center;
}

#one{
    text-align: center;
    font-size:28px;
    line-height: 30px;
    text-transform: uppercase;
}

#two{
    text-align: center;
    font-family: cursive;
}

a{
    text-decoration: none;
}

#h1{
    font-weight: normal;
}

#h2{
    font-weight: bold;
}

#h3{
    font-weight: bolder;
}

#h4{
    font-weight: lighter;
}